/* headerstyling */

a {
  text-decoration: 0;
}

nav,
.header-bottom {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem;
  position: relative;
}

.logo {
  width: 50px;
  height: 50px;
}

.logo:hover {
  opacity: 0.5;
}

.btn-sign-in {
  padding: 0.7rem 2rem;
  background: #08cc94;
  color: white;
  font-weight: 500;
  border-radius: 5px;
  transition: 0.3s;
}

.btn-sign-in:hover {
  background: #08c48c;
  color: white;
}

.header-title {
  margin: auto auto;
  font-size: 4rem;
  position: relative;
  font-weight: 700;
  letter-spacing: 2px;
  color: black;
  text-align: center;
}

.today-date {
  font-size: 2rem;
  font-weight: 500;
  color: grey;
}

.today-date span {
  font-size: 1.5rem;
}

.social-media {
  display: flex;
  list-style: none;
  width: 350px;
  justify-content: space-between;
  align-items: center;
}

.social-media li a {
  color: black;
}

.social-media li a:hover {
  opacity: 0.5;
}
/* headerstyling */
/* aboutstyling */
#about {
  width: 100%;
  padding: 2.5rem 0;
}

.about-container {
  width: 900px;
  margin: auto auto;
}

.image-gallery {
  display: flex;
  width: 100%;
  min-height: 300px;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.image-box {
  width: 22%;
  height: 250px;
  position: relative;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  border-radius: 20px;
}

.image-box:nth-child(even) {
  align-self: flex-end;
}

.image-box img:hover {
  opacity: 0.5;
}

.iot {
  position: absolute;
  bottom: -7%;
  left: 50%;
  font-weight: 500;
  color: black;
  padding: 0.5rem 1rem;
  background: white;
  border-radius: 20px;
}

.about-info {
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
  color: black;
}
/* aboutstyling */
/* footerstyling */
footer {
  width: 100%;
  padding: 1.5rem 1rem;
  text-align: center;
  color: grey;
}
/* footerstyling */
/* responsive */
@media only screen and (max-width: 950px) {
  .about-container {
    width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  .today-date {
    display: none;
  }

  .social-media {
    width: 100%;
  }

  .image-gallery {
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .image-box {
    width: 100%;
    height: 400px;
    margin: 1rem 0;
  }

  .iot {
    display: none;
  }
}
/* responsive */
/* supposed to be parralax */
.bg1 {
  background-image: url(./bg.png);
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.bg1:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 60vh;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, white, rgba(0, 0, 0, 0));
}

.bg2 {
  background-color: white;
  background-attachment: fixed;
  background-size: cover;
}
/* supposed to be parralax */
